<div class="fg-quiz-questions fg-quiz-questions-for-her">
  <div class="fg-quiz-bubble-arrow"><p>&#9662;</p></div>
  <div class="fg-quiz-bubble">
  </div>

  <!-- QUESTION ONE -->
  <div class="row question-one-women">
    <div class="mySlides1">
      <div class="small-12 columns fg-quiz-question-row">
        <p>1) WHAT'S YOUR<br />FAVORITE COLOR?</p>
      </div>
      <div class="small-12 columns fg-quiz-question-answers-row">
        <ul data-quiz-question="1" class="large-block-grid-3 small-block-grid-2">
          <li class="quiz-answer" data-quiz-answer="1-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-Q1.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="2-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-Q1.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="3-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-Q1.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="4-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-Q1.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="5-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-Q1.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="6-25">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-Q1.png">
          </li>
        </ul>
      </div>

      <!-- quiz navigation -->
      <a class="less-intense quiz">Previous</a>
      <a class="more-intense quiz">Next</a>
    </div>
  </div>

  <!-- QUESTION TWO -->
  <div class="row question-two-women">
    <div class="mySlides1">
      <div class="small-12 columns fg-quiz-question-row">
        <p>2) IT'S YOUR DAY OFF.<br />WHAT ARE YOUR PLANS?</p>
      </div>
      <div class="small-12 columns fg-quiz-question-answers-row">
        <ul data-quiz-question="2" class="large-block-grid-3 small-block-grid-2">
          <li class="quiz-answer" data-quiz-answer="1-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-Q2.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="2-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-Q2.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="3-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-Q2.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="4-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-Q2.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="5-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-Q2.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="6-40">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-Q2.png">
          </li>
        </ul>
      </div>

      <!-- quiz navigation -->
      <a class="less-intense quiz">Previous</a>
      <a class="more-intense quiz">Next</a>
    </div>
  </div>

  <!-- QUESTION THREE -->
  <div class="row question-three-women">
    <div class="mySlides1">
      <div class="small-12 columns fg-quiz-question-row">
        <p>3) PICK YOUR<br />GO-TO SHOES</p>
      </div>

      <div class="small-12 columns fg-quiz-question-answers-row">
        <ul data-quiz-question="3" class="large-block-grid-3 small-block-grid-2">
          <li class="quiz-answer" data-quiz-answer="1-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-Q3-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="2-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-Q3-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="3-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-Q3-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="4-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-Q3-woodsy.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="5-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-Q3-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="6-15">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-Q3-women.png">
          </li>
        </ul>
      </div>

      <!-- quiz navigation -->
      <a class="less-intense quiz">Previous</a>
      <a class="more-intense quiz">Next</a>
    </div>
  </div>

  <!-- QUESTION FOUR -->
  <div class="row question-four-women">
    <div class="mySlides1">
      <div class="small-12 columns fg-quiz-question-row">
        <p>4) WHAT'S YOUR<br />PERSONAL STYLE?</p>
      </div>

      <div class="small-12 columns fg-quiz-question-answers-row">
        <ul data-quiz-question="4" class="large-block-grid-3 small-block-grid-2">
          <li class="quiz-answer" data-quiz-answer="1-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-Q4-women.png">
          </li>

          <li class="quiz-answer" data-quiz-answer="2-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-Q4-women.png">
          </li>

          <li class="quiz-answer" data-quiz-answer="3-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-Q4-women.png">
          </li>

          <li class="quiz-answer" data-quiz-answer="4-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-Q4-women.png">
          </li>

          <li class="quiz-answer" data-quiz-answer="5-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-Q4-women.png">
          </li>

          <li class="quiz-answer" data-quiz-answer="6-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-Q4-women.png">
          </li>
        </ul>
      </div>

      <!-- quiz navigation -->
      <a class="less-intense quiz">Previous</a>
      <a class="more-intense quiz">Next</a>
    </div>
  </div>

  <!-- QUESTION FIVE -->
  <div class="row question-five-women">
    <div class="mySlides1">
      <div class="small-12 columns fg-quiz-question-row">
        <p>5) WHICH IS YOUR<br />SIGNATURE MAKEUP LOOK?</p>
      </div>
      <div class="small-12 columns fg-quiz-question-answers-row">
        <ul data-quiz-question="5" class="large-block-grid-3 small-block-grid-2">
          <li class="quiz-answer" data-quiz-answer="1-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-Q5-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="2-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-Q5-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="3-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-Q5-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="4-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-Q5-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="5-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-Q5-women.png">
          </li>
          <li class="quiz-answer" data-quiz-answer="6-10">
            <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-Q5-women.png">
          </li>
        </ul>
      </div>

      <!-- quiz navigation -->
      <a class="less-intense quiz">Previous</a>
      <a class="more-intense quiz">Next</a>
    </div>
  </div>

  <div class="results-button">
    <span style="color: red; display: none;">Please Answer All Questions!!!</span>
    <button>WHAT'S MY SCENT?</button>
  </div>

</div>
