<div class="quiz-share-info">
  <ul>
    <li>SHARE WITH <br class="hide-for-large-up" />A FRIEND:</li>
    <li>
        <a rel="nofollow" href="http://www.facebook.com/sharer.php?u=https://www.macys.com/p/fragrance-guide/fragrance-quiz/" target="_blank">
            <img src="https://assets.macys.com/dyn_img/creativepages/q8010003_facebook.svg" alt="facebook">
        </a>
    </li>
    <li>
        <a rel="nofollow" href="https://twitter.com/intent/tweet?url=https://www.macys.com/p/fragrance-guide/fragrance-quiz/&text=Perfume%20%26%20Cologne%20Fragrance%20Quiz%20%2D%20Macy's.%20Find%20your%20fragrance%20here!" target="_blank">
            <img src="https://assets.macys.com/dyn_img/creativepages/q8010003_twitter.svg" alt="twitter">
        </a>
    </li>
    <li>
        <a rel="nofollow" href="https://www.pinterest.com/pin/create/button?url=https://www.macys.com/p/fragrance-guide/fragrance-quiz/&media=https://assets.macys.com/dyn_img/creativepages/fb_share_image.png&title=Perfume%20%26%20Cologne%20Fragrance%20Quiz%20%2D%20Macy's.%20Find%20your%20fragrance%20here&description=Not%20sure%20what%20perfume%20or%20cologne%20to%20wear?%20Look%20no%20further!%20With%20Macy%27s%20Perfume%20%26%20Cologne%20Fragrance%20Quiz,%20you%20can%20find%20the%20right%20scents%20that%20will%20compliment%20your%20everyday%20needs.%20Whether%20you%20like%20a%20fresh,%20light,%20fruity%20smell%20by%20Chanel.%20Or%20a%20woody%20sage,%20sea%20salt%20smell%20by%20Jo%20Malone.%20Simply%20take%20the%20quiz,%20to%20find%20the%20right%20one%20for%20you." target="_blank">
            <img src="https://assets.macys.com/dyn_img/creativepages/q8010003_pinterest.svg" alt="pinterest">
        </a>
    </li>
  </ul>
</div>
